.cardParentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardParent {
    /* width: 280px; */
    /* border: 1px solid; */
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px 20px;
  }
  .cardBox {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .imgBOx {
    width: 70px;
  }
  .cardBottom {
    /* border: 1px solid red; */
    color: green;
    padding: 10px 0;
  }
  .cardBottom i {
    margin: 0 10px;
  }
  .cardBottom span {
    margin: 0 10px;
    /* border: 1px solid yellow; */
    color: black;
  }
  