.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.avatarSideMenu{
  width: 70px;
  height: 70px;
}
.smalWidth{
  margin-left: 80px;
  margin-right: 40px;
  margin-bottom: 300px;
}
.fullWidth{
  margin-left: 240px;
  margin-right: 40px;
  margin-bottom: 300px;
}
.blackColor{
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left, #f5af19, #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  );
}

.columnWidth{
  width: 500px;
}

.brandBgColor{
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  );
}
.brandColor{
  color: #f5af13;
}
.tableWidth{
  max-width: 100%;
  overflow-x: hidden;
  max-height: 500px;
  overflow-y: scroll;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
