.dropbtn {
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}